*{align-items: center;}

@font-face{
    font-family: "Algerian";
    src: url("/static/fonts/algerian.ttf");
}

@font-face{
    font-family: "Algerian Regular";
    src: url("/static/fonts/Algerian Regular.ttf");
}

    body{ 
    background: url(../images/descarga1.ico);  
    background-repeat: no-repeat; 
    background-size: 100%;
    
}

.nav-botones{
    width: 500px;
    height: 200px;
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);    
}

.contenedor .menu-boton{
    width: auto;
    padding: 0 10px;
    font-size: 2em;
    margin-bottom: 5px;
    font-family: "Algerian";
    background-color: yellow;
    border-bottom-style: outset; 
    border-radius: 8px;
    text-decoration: none;
    color:black;
    -webkit-box-shadow: inset -1px 3px 8px 5px rgb(34, 36, 37), 2px 5px 16px 0px rgb(52, 54, 56), 5px 5px 15px 5px rgba(59, 55, 55, 0); 
    box-shadow: inset -1px 3px 8px 5px rgb(34, 36, 37), 2px 5px 16px 0px rgb(52, 54, 56), 5px 5px 15px 5px rgba(59, 55, 55, 0);
}

.menu-boton:hover{
    cursor: pointer;
}
